<!DOCTYPE HTML>
<html>
<head>
 
<meta charset="UTF-8"> 
<title>Excursion</title> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="css/jquery.mobile.structure-1.0.1.css" /> 
<link rel="stylesheet" href="css/jquery.mobile-1.0.1.css" /> 
<script src="js/jquery-1.7.1.min.js"></script> 
<script src="js/jquery.mobile-1.0.1.min.js"></script>
</head>
<body>
<div data-role="page" data-add-back-btn="true" data-url="/viewexcursion" data-theme="c" id="logout">
<div data-role="header"> 
<h2>${excursiontitle}</h2>
<a class="ui-btn-right" href="/logout" >Logout</a>
</div>
<div data-role="content">
	<a href="/newexcursion" data-role="button">+</a> 
	<hr/>
	
	<div class="choice_list"> 
	<ul data-role="listview" data-inset="true" >		
		% for item in tripItems:
    		<li><a href="/viewexcursionitem/${item.key().id()}" data-transition="slide">${item.Title}</a></li>
		% endfor
	</ul>
</div>
</div>
</body>
</html>