<!DOCTYPE HTML>
<html>
<head>
 
<meta charset="UTF-8"> 
<title>Excursion</title> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="css/jquery.mobile.structure-1.0.1.css" /> 
<link rel="stylesheet" href="css/jquery.mobile-1.0.1.css" /> 
<script src="js/jquery-1.7.1.min.js"></script> 
<script src="js/jquery.mobile-1.0.1.min.js"></script>
</head>
  <body>
 <div data-role="page" data-theme="c" id="signup">
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="${username}">
          </td>
          <td class="error">
            ${usererror}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            ${pwerror}
          </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td>
            <input type="password" name="verify" value="">
          </td>
          <td class="error">
            ${pwmatcherror}
          </td>
        </tr>
        <tr>
          <td class="label">
            Email (optional)
          </td>
          <td>
            <input type="text" name="email" value="${email}">
          </td>
          <td class="error">
            ${emailerror}
          </td>
        </tr>
      </table>
      <input type="submit" value="Signup!">
    </form>
    </div>
	</body>
</html>